@import "colors";

.header {
	font-family: sans-serif;
	font-size:14px;
	text-transform: uppercase;
	background:white;

	.content {
		height:100px;
		padding-top:0px;
		padding-bottom:0px;
		justify-content: space-between;
		align-content: center;
		align-items:center;
	}

	a {
		color:black;
	}

	ul {

	}

	li {
		display: inline-block;
	}

	.button {
		color:black;

		a {
			color:black;
		}
	}
}

.header-logo {
	position: relative;
	height:100%;

	img {
		height:100%;
		width:auto;
	}
}

.main-nav {

	a {

	}

	ul {

	}

	li {

	}
}

.current-menu-item {
	border-bottom: 2px solid blue;

	a {
		color:blue;
	}
}

.mobile-menu {
	display: none;
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.header {

	}
}


// 767px And Below
@media screen and (max-width: 767px){

	.header {

	}
}
